@font-face {
    font-family: 'gothambook';
    src: url('fonts/gothambook.eot');
    src: url('fonts/gothambook.eot') format('embedded-opentype'),
         url('fonts/gothambook.woff2') format('woff2'),
         url('fonts/gothambook.woff') format('woff'),
         url('fonts/gothambook.ttf') format('truetype'),
         url('fonts/gothambook.svg#gothambook') format('svg');
}
